body{
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav"
    "main main main"
    "footer footer footer";

}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
    background-color: whitesmoke;
}

footer{
    grid-area: footer;
    background-color: whitesmoke;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    text-align: right;
    padding: 16px;
    text-decoration: none;
    color: black;
    
  }
  
  li a:hover {
    background-color: lightseagreen;
  }

.contact{
    float: left;

}


.topnav-centered{
    float: right;
    
  }
  
.name{
    font-size: 50px;
}

.text{
    font-size: 17px;
}
.profile-picture{
    width: 300px;
    border-radius: 111px;
    height: 400px;
    padding: 30px;
    text-align: center;
}

.logo{
    height: auto;
    width: 50px;
}

.column {
    width: 600px;
    margin: auto;
    /* display: inline-block; */
    text-align: center;
  } 

.container {
    
    text-align: center;
    margin: auto;
    background-color: whitesmoke;
    color: black;
}


.portfolio{
    font-size: 50px;
    text-align: center;

}

.csy1018 {
    background-color: skyblue;
 display: block;
 width: 350px;
 float: left;
 height: 400px;
 border-radius: 30px;
 margin: 5px;
}
.csy1019 {
    background-color: lightseagreen;
    display: block;
    width: 350px;
    float: left;
    height: 400px;
    border-radius: 30px;
    margin: 5px;
}
.csy1014 {
    background-color:red;
    display: block;
    width: 350px;
    float: left;
    height: 400px;
    border-radius: 30px;
    margin: 5px;
}

.csy1016 {
    background-color:pink;
    display: block;
    width: 350px;
    float: left;
    height: 400px;
    border-radius: 30px;
    margin: 5px;
}