body{
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    text-align: right;
    padding: 16px;
    text-decoration: none;
    color: black;
    
  }
  
  li a:hover {
    background-color: lightseagreen;
  }

.contact{
    float: left;

}


.topnav-centered{
    float: right;
    
  }
  
.name{
    font-size: 28px;
}

.text{
    font-size: 17px;
}
.profile-picture{
    width: 300px;
    border-radius: 111px;
    height: 400px;
    padding: 30px;
    text-align: center;
}

.logo{
    height: auto;
    width: 50px;
}

.column {
    width: 600px;
    margin: auto;
    /* display: inline-block; */
    text-align: center;
  } 

.container {
    
    text-align: center;
    margin: auto;
    background-color: whitesmoke;
    color: black;
}