body {
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header {
    grid-area: header;
    color: #05386B;
    background-color: #5cdb95;
}

nav {
    grid-area: nav;
    display: none;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}


.logo {
    height: auto;
    width: 50px;
}

main {
    grid-area: main;
    width: auto;
    height: auto;
}

footer {
    grid-area: footer;


}

.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid #05386B;
    border-bottom: 0.2em solid #05386B;
    border-radius: 0.1em;
}

.shownav:before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #05386B;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    font-size: larger;
}


ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    font-size: larger;
    display: block;
}

.container {

    text-align: center;
    margin: auto;
    width: 90%;

}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}


#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: block;
}

.container2 {
    width: 100%;
    border-right: 0 none;
}


.textlogo {
    color: #05386B;
    font-size: larger;
}

.contact .contactform {
    float: none;
}