body {
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}

.shownav:before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid white;
}

.dropdownbar {
    float: left;
    overflow: hidden;
}

.dropdownbar .dropbutton {
    font-size: 22px;
    border: none;
    outline: none;
    color: #05386B;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdownbar:hover {
    background-color: white;
}

.dropdowncontents {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    color: #f9f9f9;
}

.dropdowncontents a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
}

.dropdowncontents a:hover {
    background-color: white;
}

.dropdownbar:hover .dropdowncontents {
    display: block;
}

main {
    grid-area: main;
    background-color: #5cdb95;
}

footer {
    grid-area: footer;
    background-color: #5cdb95;
    color: #05386B;
    text-align: center;
}
/* 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5cdb95;
    font-size: larger;
} */


.navtext li a {
    color: #05386B;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: right;
    padding: 16px;
    text-decoration: none;
    color: #05386B;
}

li a:hover {
    background-color: white;
}

a:link {
    color: #05386B;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #05386B;
    background-color: skyblue;
}

a:visited {
    color: #05386B;
    background-color: transparent;
    text-decoration: none;
}

.topnav-centered {
    float: right;
}

.dropdownbar {
    float: left;
    text-align: center;
    height: auto;
}

.name {
    font-size: 50px;
    color: #05386B;
}

.text {
    font-size: 17px;
    color: #05386B;
}

.textlogo {
    color: #05386B;
    font-size: larger;
}

.about {
    text-align: center;
    color: #05386B;
}

.profile-picture {
    width: 300px;
    border-radius: 111px;
    height: 400px;
    padding: 30px;

}

.logo {
    height: auto;
    width: 70px;
}

.column {
    width: 800px;
    margin: auto;
    display: inline-block;
    height: 50%;
}

.container {

    text-align: center;
    margin: auto;

}


.portfolio {
    text-align: center;
    color: #05386B;
}

.csy1018 {
    background-color: whitesmoke;
    display: block;
    width: 350px;
    float: left;
    height: 400px;
    border-radius: 30px;
    margin: 5px;
}

.csy1019 {
    background-color: whitesmoke;
    display: block;
    width: 350px;
    float: left;
    height: 400px;
    border-radius: 30px;
    margin: 5px;
}

.csy1014 {
    background-color: whitesmoke;
    display: block;
    width: 350px;
    float: left;
    height: 400px;
    border-radius: 30px;
    margin: 5px;
}

.csy1016 {
    background-color: whitesmoke;
    display: block;
    width: 350px;
    float: left;
    height: 400px;
    border-radius: 30px;
    margin: 5px;
}


.contactme {
    text-align: center;
    width: 80%;
}

.contact {
    min-height: 80vh;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    color: #05386B;
}

.contact .contents h3 {
    font-size: 36px;
    font-weight: 500;
    margin: auto;
}

.contact .contents p {
    /* font-weight: 300px; */
    font-size: small;
    text-align: left;
    width: 280px;
}

.container2 {
    width: 41%;
    display: flex;
    height: 50%;
    margin-top: -25px;
    float: left;
    border-right: 2px solid;

}

.contact .mycontactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    float: right;
}

.contact .mycontactinfo .box {

    padding: 15px;
    display: flex;
}

.contact .mycontactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
}

.contact .contactform {
    float: right;
    text-align: left;
    width: 45%;
}

.input {
    padding: 15px;
}

form {
    width: 180px;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
}

.submit {
    grid-column: 2;
}

.blog {
    text-align: center;
    color: #05386B;

}

.blogs {
    align-items: center;
    width: 50%;
    margin: auto;
    border-radius: 30px;
    background-color: whitesmoke;
    list-style-type: none;
    color: #05386B;
}

.blogs p {
    margin: 10px;
    padding: 10px;

}

.blogs h3 {
    padding: 10px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #05386B;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=text] {
    width: 100%;

    display: inline-block;
    border: 1px solid #05386B;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;

}

.sitereport {
    text-align: center;
    height: 10vh;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    color: #05386B;


}

.sitereports {
    align-items: center;
    width: 70%;
    margin: auto;
    font-size: large;
    color: #05386B;
}


.copyrightslink .logo {
    width: 43px;
    height: 30px;
    display: inline;
}


#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}


#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: block;
}